.pl-5 {
  padding-left: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  height: 30px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.14);
  font-size: 18px;
  width: 400px;
}

.btn {
  width: 150px;
  padding: 10px;
  border: 4px double;
  margin: 10px;
  margin-left: 0px;
}
